body {
  background: #fdfdfd; 
}

.invalid-feedback {
  display: block;
}

 
.bookmark-icon {
  cursor: pointer; 
  
}

.heart-icon {
  cursor: pointer;
  margin-right: 5px;
}

.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}


.loader {
 margin: 0 auto;
} 

.movies-empty {
  margin: 0 auto;
}

.nav-home {
  color: #fdfdfd
}